body{
  background-image: url("../img/technology-background-1632715.jpg") !important;
}

.a_worker{
  text-decoration: none;
  color: rgb(51, 161, 73);
}

.a_worker:visited{
  color: rgb(21, 204, 195);
}

.a_worker:hover{
  color: rgb(6, 111, 97);
}
