{% extends 'base.html' %}
{% load static %}

{% block main %}
  <div class="row">
    <div class="col-sm">
      1
    </div>
    <div class="col-sm">
      Olá {{myUser.funcionario.name}}
    </div>
    <div class="col-sm">
      <a href="{% url 'logout' %}">
        <img src="{% static 'img/logout.svg' %}" alt="logout" title="Logout" style="height:24px; width: 24px; color:blue;">

        {% if usuario.funcionario.empresa %}
          <a href="">
            <img src="{% static 'img/domain.svg' %}" alt="Empresa" title="Dados da empresa" style="height:24px; width: 24px; color:blue;">
          </a>

        {% else %}

          <a href="">
            <img src="{% static 'img/circle_plus.svg' %}" alt=" Criar empresa" title="Criar empresa" style="height:24px; width: 24px; color:blue;">
          </a>

        {% endif %}
      </a>
    </div>
  </div>
{% endblock %}