{% extends 'base.html' %}
{% load static %}

{% block main %}
  <div class="row">
    <div class="col-sm">
      1
    </div>
    <div class="col-sm">
      Olá {{myUser.funcionario.name}}
    </div>
    <div class="col-sm">
      <div class="btn-group">
        <a class=" btn btn-outline-info" href="{% url 'logout' %}">
          <i class="bi bi-box-arrow-down"></i>
        </a>
        {% if myUser.funcionario.company %}
        <a class=" btn btn-outline-info" href="empresas/editar/{{myUser.funcionario.company_id}}">
          <i class="bi bi-building"></i>
        </a>
        {% else %}
        <a class=" btn btn-outline-info" href="{% url 'create_company' %}">
          <i class="bi bi-plus-circle-fill"></i>
        </a>
        {% endif %}
        <a class="btn btn-outline-info" href="{% url 'list_worker' %}">
          <i class="bi bi-person-circle"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock %}