{% extends 'base.html' %}

{% block main %}

Delete <br>

<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <h3>Tem certeza que deseja deletar <strong class="text-red">{{ object }}</strong></h3>
    {{form}}
  </div>
  <div class="form-check">
    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash3"></i> Deletar</button>
    <a class="btn btn-outline-primary" href="{% url 'list_overtime' %}"><i class="bi bi-x-circle"></i> Cancelar</a>
  </div>

</form>

{% endblock %} 
